#date{
    color: rgb(184, 176, 176);
}
#claim{
    color: darkgray;
}
.menu{
    color: #e69730;
}
#name{
    color: hsl(247, 60%, 49%);
}
#agenda{
    color: color(srgb 1 0.5 0 / 0.9);
}
#intro{
    color: color-mix(in srgb, #34c9eb 90%, rgb(151, 16, 16));
}